ul.ListPostTS {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px 0 0;
  li {
    width: 33%;
    list-style: none;
    padding: 10px;
    text-align: justify;
  }
}

.deco_post {
  color: black;
  text-decoration: none;
}
.deco_post:hover {
  color: cadetblue;
}
